
<div style="clear:both;"></div>

<footer class="footer">
    <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.pt_BR" class="logo cc">Creative Commons</a>
    <small>
        <p>Este conteúdo é disponibilizado gratuitamente pelo Instituto Ayrton Senna com uma Licença <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Creative Commons Atribuição-NãoComercial-CompartilhaIgual 4.0 Internacional</a>.</p>
        <p>Podem estar disponíveis autorizações adicionais às concedidas no âmbito desta licença em <a href="http://www.programae.org.br" target="_blank">programae.org.br</a> e <a href="http://www.fundacaolemann.org.br" target="_blank">fundacaolemann.org.br</a>.</p>
    </small>
    <a href="https://github.com/raspberrypilearning/sorting-hat-lesson/" class="logo gh" title="View and edit this resource on GitHub">View and edit this resource on GitHub</a>
</footer>
