
<div style="clear:both;"></div>

<footer class="footer">
    <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.pt_BR" class="logo cc">Creative Commons</a>
    <small>
        <p>Este recurso é disponibilizado gratuitamente pelo <a href="http://www.programae.org.br">Programaê!</a> sob uma licença Creative Commons.</p>
        <p>Aprenda mais sobre nossas plataformas em <a href="http://www.programae.org.br">programae.org.br</a>.</p>
    </small>
    <a href="https://github.com/raspberrypilearning/sorting-hat-lesson/" class="logo gh" title="View and edit this resource on GitHub">View and edit this resource on GitHub</a>
</footer>
