<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width initial-scale=1">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Programaê | Planos de Aula - Blocos</title>
    <link rel="icon" type="image" href="favicon.ico" />
    <link rel="publisher" href="https://www.programae.org.br" />
    <link rel="stylesheet" href="{{ "/css/prism.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:100italic,100,300italic,300,400italic,400,500italic,500,700italic,700,900italic,900">

    <!-- nao esquecer de adicionar o analytics!!! -->
    <!--  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title> -->
    <script src="js/prism.js"></script>

    <!-- avaliar -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
</head>
