<!DOCTYPE html>
<html>

  {% include head.html %}

<body class="learning cover teach  ">
    <div class="container">
        <header class="header">
            <a href="http://www.programae.org.br" class="heading" title="">Programaê!</a>
        </header>

        <nav class="nav breadcrumbs">
            <ul>
                            </ul>
        </nav>

        <nav class="nav resource-categories">
            <ul>
                <li class="teach"><a href=".">Visão Geral</a></li>
                <li class="learn"><a href="./recursos">Recursos</a></li>
                <li class="make"><a href="./planos">Planos de Aula</a></li>
            </ul>
        </nav>

        <div class="main">

<article class="content">

    <h1>Curso Blocos</h1>

    <div class="cover-image">
        <!-- <img src='/learning/resources/sorting-hat-lesson/cover.png' />    </div> -->
        <<< podiamos colocar um logo aqui >>>
</div>
    <aside class="overview do">
        <h2>Visão Geral</h2>

        <p>No processo de aprendizado de programação temos duas barreiras para transpor, a dificuldade técnica e lógica.</p>
        <p>Este curso tem como objetivo atacar este último item, introduzindo o pensamento computacional através da programação visual, utilizando blocos.</p>
        <p>Não assumimos que você educarod, saiba, programar. Iremos conduzir estes planos a orientá-lo no seu preparo e facilitação das aulas.</p></aside>


    <aside class="overview learn">
        <h2>O que os estudantes irão aprender</h2>

        <p>Ao completar este curso os alunos irão aprender:</p>
<ul>
<li>Estruturas básicas do pensamento computacional.</li>
<li>Como usar loops, funções, condicionais.</li>
<li>A desenvolver projetos que utilizem linguagem de programação.</li>
</ul>    </aside>


    <!-- <aside class="overview study">
        <h2>Formação</h2>

        <ul>
<li>Design, write and debug programs that accomplish specific goals; solve problems by breaking them into smaller parts.</li>
<li>Select, use and combine a variety of software on a range of digital devices to design and create a range of programs.</li>
<li>Use sequence, selection and repetition in programs; work with variables and various forms of input and output.</li>
<li>Use logical reasoning to explain how some simple algorithms work; detect and correct errors in algorithms and programs.</li>
</ul>    </aside> -->


    <aside class="overview study">
        <h2>Tipos de aula</h2>
        Iremos trabalhar com três tipos de planos de aula.

        <ul>
<li>Tipo 1 - Baseado nas trilhas online do Code.org.</li>
<li>Tipo 2 - Baseado em atividade usando o Scratch.</li>
<li>Tipo 3 - Fora do computador utilizando recursos traducionais (ex. papel e caneta) </li>
</ul>    </aside>


<nav class="buttons">
    <a class="button requirements" href="recursos/">O que você vai precisar</a>
    <a class="button lessons" href="planos/">Veja os planos</a>
</nav>

</article>

{% include footer.html %}

</div>
</div>

</body>

<!--
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>
-->
</html>
