<!DOCTYPE html>
<html>

  {% include head.html %}

<body class="learning cover make">
    <div class="container">
        <header class="header">
            <a href="http://www.programae.org.br" class="heading" title="">Programaê!</a>
        </header>

        <nav class="nav breadcrumbs">
            <ul>
                            </ul>
        </nav>

        <nav class="nav resource-categories">
            <ul>
                <li class="teach"><a href="../">Visão Geral</a></li>
                <li class="learn"><a href="../recursos">Recursos</a></li>
                <li class="make"><a href="../planos">Planos de Aula</a></li>
            </ul>
        </nav>

        <div class="main">

<article class="content">



    <div class="cover-image">
        <!-- <img src='/learning/resources/sorting-hat-lesson/cover.png' />  -->  </div>

    {{ content }}


<!-- <nav class="buttons">
    <a class="button requirements" href="requirements/">O que você vai precisar</a>
    <a class="button lessons" href="lessons/">Veja os planos</a>
</nav> -->

</article>

{% include footer.html %}

        </div> <!-- main -->
    </div> <!-- container -->
</body>

</body>

</html>
