<!DOCTYPE html>
<html>

  {% include head.html %}

<body class="learning cover learn">

    <div class="container">
        <header class="header">
            <a href="http://www.programae.org.br" class="heading" title="">Programaê!</a>
        </header>

        <nav class="nav breadcrumbs">
            <ul>
                            </ul>
        </nav>

        <nav class="nav resource-categories">
            <ul>
                <li class="teach"><a href="../">Visão Geral</a></li>
                <li class="learn"><a href=".">Recursos</a></li>
                <li class="make"><a href="../planos">Planos de Aula</a></li>
            </ul>
        </nav>

        <div class="main">

<article class="content">

    <h1>Curso Blocos</h1>

    <div >

        <p>Traremos aqui os recursos que você irá precisar para trabalhar o curso em sala de aula. Pode ser que você precise recorrer ao técnico de informátia do laboratório, entretanto, sinta-se a vontade para entrar em <a href="mailto:Programae@fundacaolemann.org.br">contato conosco</a></p>
        <!-- <img src='/learning/resources/sorting-hat-lesson/cover.png' />  -->

    </div>

  <aside class="overview hardware">
    <h2>Especificações Técnicas</h2>

    <p>O curso foi pensado para utilizar recursos mínimos, mesmo assim é importante destacar que o espaço precisa contemplar:</p>

    <ul>
    <li>Computadores que rodem algum <a href="http://pt.wikipedia.org/wiki/Navegador_%28inform%C3%A1tica%29">browser</a> modeno, preferimos <a href="http://www.getfirefox.com">Firefox</a> ou <a href="https://www.google.com/chrome/browser/desktop/index.html">Chrome</a>.</li>
    <li>Acesso a internet de banda larga (recomendável 8MB).</li>
    <!-- <li></li> -->
    </ul>

  </aside>



    <aside class="overview software">
        <h2>Recursos online</h2>

        <p>Utilizaremos as seguintes plataformas:</p>

        <ul>
        <li><a href="https://scratch.mit.edu/">Scratch</a></li>
        <li><a href="http://studio.code.org">Code.org</a></li>
        <!-- <li></li> -->
        </ul>

    </aside>


    <aside class="overview exclamation">
        <h2>Alternativa: Recursos offline</h2>

        <p>Se você precisar instalar no computador (Windows) utilize o link abaixo.</p>
        <ol>
        <li>Pré-requisito: instale o <a href="../instaladores/AdobeAIRInstaller.zip">Adobe Air</a></li>
        <li>Depois execute o instalador do <a href="../instaladores/Scratch-437.exe">Scratch</a></li>
      </ol>

      <p>Se você precisar utilizar os vídeos das aulas, faça o <a href="../videos/todos.zip">download</a> e descompacte numa pasta local do computador.</p>
      
    </aside>

<nav class="buttons" style="float: right">
<a class="button lessons" href="../planos/">Veja os planos</a>
</nav>


  </article>

{% include footer.html %}

        </div>
    </div>
</body>

</html>
